/applicationContext.xml
/bannerVM.vm
/com
/domain.properties
/ebookEmailVM.vm
/ehcache.xml
/email.properties
/emailVM.vm
/font
/indexVM.vm
/jdbc.properties
/licenseKey.properties
/log4j.properties
/lostPassWordEmailVM.vm
/newbookVM.vm
/productEmailVM.vm
/struts
/struts.xml
/topmessage.properties
